<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/productCss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <link rel="stylesheet" href="/Doc/css/normalize.min.css">
    <link rel="stylesheet" href="/Doc/css/main.css">
    <title>Create Product</title>
</head>
<body>
<aside class="left-sidebar">
    <div class="logo">
        <a href="/admin">
            <h1>Fashion</h1>
            <h3 style="color: cornsilk">Admin DashBoard</h3>
        </a>
    </div>
    <div class="btn-group-vertical" style="margin-left:11%">
        <button type="button" class="btn btn-outline-light">
            <a href="/products" style="color: #96dd3b">Product Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/admin/user" style="color: #96dd3b">Customer Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/categories" style="color: #96dd3b">Category Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/admin/user" style="color: #96dd3b">Producer Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/products" style="color: #96dd3b">Oder Manage</a></button>
        </br>
    </div>
</aside>
<div id="main-wrapper">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">User Manage - Create User</a>
        <form class="form-inline">
            <button type="button" class="btn btn-outline-primary">
                <a href="/admin/user" style="color: #96dd3b">Go Back User List</a></button>
            </br>
        </form>
    </nav>
    <div style="color: red">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
    </div>
    <div id="main-form">
        <form action="#" th:action="@{/admin/create}"
              th:object="${user}" method="POST" novalidate="novalidate">
            <div>
                <label>User Name:</label>
                <input type="text" th:field="*{userName}"/>
                <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</p>
            </div>
            <div>
                <label>Password:</label>
                <input type="text" th:field="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
            </div>
            <div>
                <label>First Name:</label>
                <input type="text" th:field="*{firstName}"/>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</p>
            </div>
            <div>
                    <label>Last Name:</label>
                    <input type="text" th:field="*{lastName}"/>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
            </div>
            <div>
                <label>Age:</label>
                <input type="text" th:field="*{age}"/>
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</p>
            </div>
            <div>
                <label>Phone Number:</label>
                <input type="text" th:field="*{phoneNumber}"/>
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>
            </div>
            <div>
                <label>Email:</label>
                <input type="text" th:field="*{email}"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
            </div>
            <div>
                <label>Address:</label>
                <input type="text" th:field="*{address}"/>
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</p>
            </div>
            <div class="form-group">
                <label>role:</label>
                <select class="form-control" th:field="*{role}">
                    <option th:each="p : ${roles}"
                            th:value="${p.id}"
                            th:text="${p.name}"></option>
                </select>
            </div>
            <input type="submit" value="Create " class="btn btn-outline-primary">
        </form>
    </div>
</div>
</body>
</html>