<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/register}"
      th:object="${user}" method="POST" novalidate="novalidate">
    <table>
        <tr>
            <td>UserName</td>
            <td><input type="text" th:field="*{userName}"/></td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="#{number.empty}">Name Error</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="#{password}">Name Error</td>
        </tr>
        <tr>
            <td>Firstname:</td>
            <td><input type="text" th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="#{firstName}">Name Error</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="#{lastName}">Name Error</td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="#{age}">Name Error</td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</td>
        </tr>
    </table>
    <button type="submit">Register</button>
</form>
</body>
</html>