<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Producer</title>
    <link rel="stylesheet" href="../../../../resources/static/assets/css/productCss.css">
</head>
<body>
<h1>Create Producer</h1>
<p>
    <a href="/producers">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-producer}" th:object="${producer}" method="post">
    <table id="customers">
        <tr>
            <td>Producer Name:</td>
            <td><input type="text" th:field="*{producerName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Producer"></td>
        </tr>
    </table>
</form>
</body>
</html>