<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/create-producer">Create new Producer</a>
<h1>Producers</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="producer : ${producers}">
        <tr>
            <td th:text="${producer.producerName}"></td>
            <td><a th:href="@{/edit-producer/__${producer.producerId}__ }">Edit</a></td>
            <td><a th:href="@{/delete-producer/__${producer.producerId}__ }">Delete</a></td>

        </tr>
    </th:block>
</table>
</body>
</html>